:root {
  background-color: var(--page-background-color);
  font-family: "Outfit Variable", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a {
  color: var(--link-color);
}

li {
  margin-bottom: 5px;
}

button {
  border: none;
  cursor: pointer;
}
.button-row {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

body {
  max-width: 1000px;
  margin: 0 auto 20px auto;
}
.body {
  background-color: var(--content-background-color);
  padding-bottom: 10px;
}

.head {
  background-image: url("/static/bg.png");
  background-size: cover;
  image-rendering: pixelated;
  padding-top: 20px;
}

.profile-info {
  background-color: var(--content-background-color);
  max-width: 300px;
  margin-left: auto;
  padding: 10px 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid black;
  border-bottom: none;
}
.profile-info ul {
  margin: 0;
}
.profile-info_next-moon {
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: 10px;
}

.navbar {
  /* background-color: rgb(237 229 208); */
  font-family: "Bubblegum Sans", sans-serif;
  background-color: var(--navbar-background-color);
  background: var(--navbar-background-gradient);
  border-bottom: var(--navbar-border);
  border-top: var(--navbar-border);
  margin-bottom: 5px;
}
.navbar a {
  display: inline-block;
  text-decoration-line: none;
  padding: 10px;
  font-size: large;
  color: var(--navbar-text-color);
}
.navbar a:hover {
  background-color: var(--navbar-hovered-text-color);
}

.breadcrumbs {
  background-color: var(--breadcrumbs-background-color);
  width: 98%;
  margin: 0px auto 10px auto;
  padding: 5px;
  border-radius: 5px;
  box-sizing: border-box;
}

main {
  margin: 0 10px;
}

img {
  max-width: 100%;
}

.progress-bar {
  height: 15px;
  border: var(--progress-bar-border);
}
.progress-bar-value {
  background-color: var(--progress-bar-fill);
  height: inherit;
}

details {
  display: inline-block;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.row-list {
  list-style-type: none;
  padding-inline-start: 20px;
}

.icon-button {
  background-color: transparent;
  color: var(--icon-button-text-color);
  padding: 0;
}
.icon-button:hover {
  color: var(--icon-button-hovered-text-color);
  background-color: transparent;
}

button, .btn {
  text-align: center;
  background-color: var(--button-background-color);
  padding: 10px;
  color:var(--button-text-color);
  font-family: "Outfit Variable", sans-serif;
  font-weight: 600;
  font-size: medium;
  border-radius: 10px;
  text-decoration-line: none;
}
button:disabled,
.btn:disabled {
  background-color: var(--button-disabled-background-color);
}
button:disabled:hover,
.btn:disabled:hover {
  background-color: var(--button-disabled-background-color);
  cursor: default;
}
button:hover,
.btn:hover {
  background-color: var(--button-hovered-background-color);
}

.btn-secondary {
  background-color: var(--button-secondary-background-color);
  color: var(--button-secondary-text-color);
  border: 2px solid var(--button-secondary-text-color);
}
.btn-secondary:hover {
  background-color: var(--button-secondary-hovered-background-color);
}

details {
  width: 95%;
  border-radius: 5px;
}
details>div.details-content {
  padding: 0 1em 0.1em 1em;
}
summary {
  width: 100%;
  border-radius: 5px;
  padding: 0.5em 0.25em;
}
summary:hover {
  background-color:var(--summary-background-color);
  cursor: pointer;
}
summary:open {
  background-color:var(--summary-background-color);
}

input[type="text"] {
  font-size: 16px;
}
