:root {
  background-color: rgb(56 50 38);
  font-family: "Outfit Variable", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a {
  color: rgb(106 57 69);
}

li {
  margin-bottom: 5px;
}

button {
  border: none;
  cursor: pointer;
}
.button-row {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

body {
  max-width: 1000px;
  margin: 0 auto 20px auto;
}
.body {
  background-color: white;
  padding-bottom: 10px;
}

.head {
  background-image: url("/static/bg.png");
  background-size: cover;
  image-rendering: pixelated;
  padding-top: 20px;
}

.profile-info {
  background-color: white;
  max-width: 300px;
  margin-left: auto;
  padding: 10px 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid black;
  border-bottom: none;
}
.profile-info ul {
  margin: 0;
}
.profile-info_next-moon {
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: 10px;
}

.navbar {
  /* background-color: rgb(237 229 208); */
  font-family: "Bubblegum Sans", sans-serif;
  background-color: #655934;
  background: linear-gradient(180deg, rgba(101,89,52,1) 0%, rgba(48,41,28,1) 100%);
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  margin-bottom: 5px;
}
.navbar a {
  display: inline-block;
  text-decoration-line: none;
  padding: 10px;
  font-size: large;
  color: #EFE5CE;
}
.navbar a:hover {
  background-color: rgba(48,41,28,1);
}

.breadcrumbs {
  background-color: rgb(234, 234, 234);
  width: 98%;
  margin: 0px auto 10px auto;
  padding: 5px;
  border-radius: 5px;
  box-sizing: border-box;
}

main {
  margin: 0 10px;
}

img {
  max-width: 100%;
}

.progress-bar {
  height: 15px;
  border: 1px solid black;
}
.progress-bar-value {
  background-color: #80bc08;
  height: inherit;
}

details {
  display: inline-block;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.row-list {
  list-style-type: none;
  padding-inline-start: 20px;
}

.icon-button {
  background-color: transparent;
  color: darkgrey;
  padding: 0;
}
.icon-button:hover {
  color: grey;
  background-color: transparent;
}

button, .btn {
  text-align: center;
  background-color: #655934;
  padding: 10px;
  color:#EFE5CE;
  font-family: "Outfit Variable", sans-serif;
  font-weight: 600;
  font-size: medium;
  border-radius: 10px;
  text-decoration-line: none;
}
button:disabled,
.btn:disabled {
  background-color: #938764;
}
button:disabled:hover,
.btn:disabled:hover {
  background-color: #938764;
  cursor: default;
}
button:hover,
.btn:hover {
  background-color: rgb(82, 73, 55);
}

.btn-secondary {
  background-color: #EFE5CE;
  color: #655934;
  border: 2px solid #655934;
}
.btn-secondary:hover {
  background-color: #e5c680;
}

details {
  width: 95%;
  border-radius: 5px;
}
summary {
  width: 100%;
  border-radius: 5px;
  padding: 0.5em 0.25em;
}
summary:hover {
  background-color:#EFE5CE;
  cursor: pointer;
}
summary:open {
  background-color:#EFE5CE;
}
