.cat-search-container {
  display: inline-flex;
  max-height: 400px;
  gap: 5px;
  width: 100%;
}

.cat-search-filters {
  flex: 1 1 0;
  overflow-y: scroll;
}

@media (min-width: 800px) {
  .cat-search-filters {
    max-width: 250px;
  }
}

@media (max-width: 800px) {
  .cat-search-container {
    display: flex;
    flex-direction: column;
    max-height: none;
  }
  .cat-search-filters {
    overflow-y: visible;
    max-width: none;
  }
}

.cat-search-cats {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
}
.cat-search-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: repeat(auto-fit);
  gap: 7px;
  overflow-y: scroll;
  flex: 1;
}
.cat-search-select {
  border-radius: 10px;
  border: 1px solid transparent;
  flex: 1 1 20%;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 20px;
}
.cat-search-select input[type="checkbox"] {
  display: none;
}
.cat-search-select:has(input[type="checkbox"]:checked) {
  border: 1px solid var(--select-highlight-color);
}
.cat-search-select-status {
  font-size: 13px;
}

.cat-search-page-controls {
  flex: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5px;
}

.cat-search-page-controls > div {
  flex: 2;
}
