.cats-list {
  margin-top: 0.75em;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
@media (500px < width <= 700px) {
  .cats-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (width <= 500px) {
  .cats-list {
    grid-template-columns: repeat(2, 1fr);
  }
}


.cats-list .cat {
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  text-align: center;
}
.cats-list a {
  text-decoration: none;
}
.cats-list .cat:hover {
  background-color: var(--cat-display-hovered-background-color);
  border-radius: 10px;
}

.cats-list__nav {
  display: flex;
  justify-content: space-between;
}

.cats-list__nav__toggle-living button {
  text-align: right;
  padding-left: 0.25em;
}