select {
  min-width: 250px;
}

.checkbox-row {
  display: flex;
  padding-bottom: 0.25em;
}

.checkbox-row input[type="checkbox"]{
  flex: none;
}

.radio-row {
  display: flex;
  padding-bottom: 0.25em;
}

.radio-row input[type="radio"]{
  flex: none;
}

dialog {
  padding: 10px;
  border: 1px solid grey;
  border-radius: 10px;
}

dialog div.dialog-body {
  padding: 8px;
}

dialog div.dialog-footer {
  padding: 0 8px 8px 8px;
  display: flex;
  justify-content: flex-end;
}

.title-bar {
  display: flex;
}
.title-bar-text {
  font-weight: bold;
}
.title-bar-buttons {
  margin-left: auto;
}

.submit {
  display: block;
  margin-top: 0.5em;
}
