.selected-cats-list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.selected-cats-list .cat {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  text-align: center;
}

@media (min-width: 700px) {
  .selected-cats-list {
    grid-template-columns: repeat(3, minmax(150px, 1fr));
  }
}
