.selected-cats-list {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, 1fr);
}

.selected-cats-list .cat {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  text-align: center;
}
